<h1
  style="
    text-align: center;
    color: red;
    font-weight: 900;
    font-size: 40px;
    text-decoration: underline;
  "
>
  Your blogs..
</h1>
<div>
  <% for (let i of data ) { %>
  <li style="list-style-type: none;">
    <div
      style="
        margin: 10px auto;
        background-color: lightgrey;
        width: 300px;
        border: 2px solid blueviolet;
        padding: 20px;
        box-shadow: 2px 6px greenyellow;
      "
    >
      <%= i.title %>
    </div>
    <div
      style="
        margin: 15px auto;
        background-color: lightgrey;
        width: 300px;
        border: 2px solid green;
        padding: 50px;
        box-shadow: 4px 6px rebeccapurple;
      "
    >
      <%= i.content %>
    </div>
    <hr
      style="
        background-color: #fff;
        padding: 0;
        margin: 50px;
        border: 0;
        height: 1px;
        background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.75),
          rgba(0, 0, 0, 0)
        );
      "
    />
  </li>
  <% } %>
</div>
